:root {
    /* Primary */
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);

    /* Active */
    --Soft-red-2: hsla(10, 79%, 65%, 0.7);
    --Cyan-2: hsl(186, 34%, 60%, 0.7);

    /* Neutral */
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

    /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* Main */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 18px;
    background: var(--Cream);
    font-family: 'DM Sans', sans-serif;
    margin: 100px 0;
}

p {
    color: var(--Medium-brown);
}

.container {
    min-width: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
    /* Wrapper 1 */
.wrapper-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    color: var(--Very-pale-orange);
    background-color: var(--Soft-red);
}

.wrapper-1 p {
    color: var(--Very-pale-orange);
}

    /* Wrapper 2 */
.wrapper-2 {
    border-radius: 15px;
    padding: 30px;
    color: var(--Dark-brown);
    background-color: var(--Very-pale-orange);
}

.wrapper-2 div {
    display: flex;
    width: 100%;
    gap: 3%;
}

.bar {
    height: 300px;
    padding: 30px 0;
    margin-top: 30px;
}

.mon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 14.2%;
    margin-top: 150px;
}

.mon div {
    background-color: var(--Soft-red);
    border-radius: 8px;
    height: 70px;
}

.tue {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 14.2%;
    margin-top: 100px;
}

.tue div {
    background-color: var(--Soft-red);
    border-radius: 8px;
    height: 130px;
}

.wed {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 1x;
    width: 14.2%;
}

.wed div {
    background-color: var(--Cyan);
    border-radius: 8px;
    height: 1000px;
}

.thu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 14.2%;
    margin-top: 119px;
}

.thu div {
    background-color: var(--Soft-red);
    border-radius: 8px;
    height: 100px;
}

.fri {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 14.2%;
    margin-top: 130px;
}

.fri div {
    background-color: var(--Soft-red);
    border-radius: 8px;
    height: 85px;
}

.sat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 14.2%;
    margin-top: 60px;
}

.sat div {
    background-color: var(--Soft-red);
    border-radius: 8px;
    height: 180px;
}

.sun {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 14.2%;
    margin-top: 125px;
}

.sun div {
    background-color: var(--Soft-red);
    border-radius: 8px;
    height: 90px;
}

.line {
    border: 1px solid var(--Cream);
    margin-bottom: 40px;
}

.total div {
    flex-direction: column;
    gap: 0;
}

.total div:last-child {
    align-items: end;
    justify-content: flex-end;
}

/* Active States */
.mon div:hover, .mon div:focus, .mon div:active {
    background: var(--Soft-red-2);
}

.tue div:hover, .tue div:focus, .tue div:active {
    background: var(--Soft-red-2);
}

.wed div:hover, .wed div:focus, .wed div:active {
    background: var(--Cyan-2);
}

.thu div:hover, .thu div:focus, .thu div:active {
    background: var(--Soft-red-2);
}

.fri div:hover, .fri div:focus, .fri div:active {
    background: var(--Soft-red-2);
}

.sat div:hover, .sat div:focus, .sat div:active {
    background: var(--Soft-red-2);
}

.sun div:hover, .sun div:focus, .sun div:active {
    background: var(--Soft-red-2);
}

/* Responsive */
@media (max-width:700px) {
    .container {
        min-width: 90%;
    }
}